@font-face {
  font-family: "van";
  src: url("./assets/vanfont.ttf");
}
.cell, .up .condition, .video-cover .time, .video-cover .category {
  border-radius: 8px;
  color: #fff;
  text-align: center;
  vertical-align: middle;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Microsoft YaHei", sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #e9e9e9;
}

.plain-text {
  display: inline-block;
  font-size: 42px;
  padding: 0 36px;
  margin-bottom: 36px;
  word-wrap: break-word;
}

.video-cover {
  position: relative;
  height: 100%;
  margin-bottom: 36px;
  padding: 0px 36px;
  border-radius: 8px;
}
.video-cover .cover {
  width: 100%;
  height: 100%;
  border-radius: 8px;
}
.video-cover .category {
  position: absolute;
  top: 31px;
  right: 78px;
  height: 54px;
  border-radius: 8px;
  font-size: 30px;
  line-height: 54px;
  background-color: #fb7299;
  padding: 0px 21px 0px 21px;
}
.video-cover .time {
  position: absolute;
  bottom: 36px;
  left: 72px;
  height: 60px;
  font-size: 34px;
  line-height: 60px;
  background-color: rgba(32, 32, 32, 0.5);
  padding: 0px 9px 0px 9px;
}

.up {
  display: flex;
  justify-content: left;
  align-items: center;
  width: 100%;
  margin-bottom: 36px;
  padding: 0 36px;
}
.up .avatar {
  position: relative;
}
.up .avatar .img {
  width: 120px;
  height: 120px;
  border: 1px solid #ccc;
  border-radius: 60px;
}
.up .avatar .icon {
  position: absolute;
  bottom: -4px;
  right: -4px;
}
.up .info {
  padding: 0 45px;
}
.up .info .name {
  display: inline-block;
  max-width: 514px;
  width: auto;
  font-size: 42px;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  -o-text-overflow: ellipsis;
}
.up .info .level {
  font-family: "van";
  font-size: 84px;
}
.up .info .data > span {
  font-size: 36px;
  color: #999;
  margin-right: 9px;
}
.up .condition {
  width: 200px;
  height: 72px;
  font-size: 38px;
  line-height: 72px;
  background-color: #fb7299;
  margin-left: auto;
}

.video-info {
  width: 100%;
  padding: 0 36px;
}
.video-info .title {
  font-size: 48px;
}
.video-info .data-part1 {
  display: flex;
  justify-content: space-between;
  margin-top: 24px;
}
.video-info .data-part1 > span {
  font-size: 36px;
  color: #999;
}
.video-info .data-part1 .view::before {
  content: "\e6e6";
  font-family: "van";
  margin-right: 2px;
}
.video-info .data-part1 .dm::before {
  content: "\e6e7";
  font-family: "van";
  margin-right: 2px;
}
.video-info .data-part1 .reply::before {
  content: " \e639";
  font-family: "van";
  margin-right: 2px;
}
.video-info .summary {
  margin-top: 24px;
  font-size: 36px;
  color: #999;
}
.video-info .data-part2 {
  display: flex;
  justify-content: space-between;
  margin: 24px 48px 36px;
  font-size: 36px;
  color: #000;
  text-align: center;
}
.video-info .data-part2 > span::before {
  display: block;
  font-family: "van";
  font-size: 72px;
  text-align: center;
}
.video-info .data-part2 .like::before {
  content: "\e6e0";
}
.video-info .data-part2 .coin::before {
  content: "\e6e4";
}
.video-info .data-part2 .fav::before {
  content: "\e6e1";
}
.video-info .data-part2 .share::before {
  content: "\e70f";
}

.video {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1080px;
  padding-top: 36px;
  padding-bottom: 312px;
  background-color: #fff;
}
.video .portal {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 312px;
  background: url("./assets/video_bottom.png");
}
.video .portal .qr-code {
  position: absolute;
  top: 76px;
  right: 154px;
  width: 140px;
  height: 140px;
  background-color: #000;
}

.column {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1080px;
  padding-top: 36px;
  padding-bottom: 312px;
  background-color: #fff;
}
.column .portal {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 312px;
  background: url("./assets/column_bottom.png");
}
.column .portal .qr-code {
  position: absolute;
  top: 86px;
  left: 645px;
  width: 140px;
  height: 140px;
  background-color: #000;
}

.bangumi {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1080px;
  padding-top: 36px;
  padding-bottom: 312px;
  background-color: #fff;
}
.bangumi .portal {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 312px;
  background: url("./assets/bangumi_bottom.png");
}
.bangumi .portal .qr-code {
  position: absolute;
  top: 69px;
  left: 635px;
  width: 140px;
  height: 140px;
  background-color: #000;
}

.stream {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1080px;
  padding-top: 36px;
  padding-bottom: 312px;
  background-color: #fff;
}
.stream .portal {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 312px;
  background: url("./assets/stream_bottom.png");
}
.stream .portal .qr-code {
  position: absolute;
  top: 79px;
  left: 395px;
  width: 140px;
  height: 140px;
  background-color: #000;
}

.dynamic {
  position: relative;
  display: flex;
  flex-direction: column;
  width: 1080px;
  padding-top: 36px;
  padding-bottom: 312px;
  background-color: #fff;
}
.dynamic .gallery {
  padding: 0px 36px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  flex-wrap: wrap;
  gap: 9px;
}
.dynamic .gallery img {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
.dynamic .gallery.col-1 img {
  width: 100%;
  -o-object-fit: contain;
     object-fit: contain;
}
.dynamic .gallery.col-2 img {
  width: calc((100% - 9px) / 2);
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
}
.dynamic .gallery.col-3 img {
  width: calc((100% - 18px) / 3);
  aspect-ratio: 1;
  -o-object-fit: cover;
     object-fit: cover;
  overflow: hidden;
}
.dynamic .portal {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 312px;
  background: url("./assets/dynamic_bottom.png");
}
.dynamic .portal .qr-code {
  position: absolute;
  top: 94px;
  left: 867px;
  width: 140px;
  height: 140px;
  background-color: #000;
}/*# sourceMappingURL=style.css.map */